.win-background {
    height: 100vh;
    width: 100vw;
    filter: opacity(30%);
    -webkit-filter: opacity(30%);
    position: absolute;
    z-index: -9999;
    top: 0vh;
    overflow: hidden;
}

.win-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.win-background::-webkit-scrollbar {
    display: none;
}

.img-space {
    height: 100vh;
}

.img-space::-webkit-scrollbar {
    display: none;
}

.win-planet {
    height: 41vh;
    position: absolute;
}

.win-planet-light {
    height: 41vh;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    z-index: -900;
}

.win-planet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 22vh;
}


.win-planet-icon {
    height: 60px;
    /* margin-left: 17px; */
    margin-right: 21px;
}


.win-glass-container {
    background: rgba( 216, 216, 216, 0.10 );
    box-shadow: 0 8px 32px 1 rgba( 14, 14, 16, 0.5 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 21px;
    width: 90vw;
    height: 84px;
    top: 16.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: emblem-container 1s forwards;
    position: absolute;
    z-index: 100;
}

@keyframes emblem-container {
    from {
        top: 8vh;
        filter: opacity(0%);
        -webkit-filter: opacity(0%);
    }
    to {
        top: 16.5vh;
        filter: opacity(100%);
        -webkit-filter: opacity(100%);
    }
}

@media (min-width: 350px) {
    .win-glass-container {
        width: 345px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-height: 600px) {
    .win-glass-container {
        top: 22vh;
    }

    @keyframes emblem-container {
        from {
            top: 8vh;
            filter: opacity(0%);
            -webkit-filter: opacity(0%);
        }
        to {
            top: 22vh;
            filter: opacity(100%);
            -webkit-filter: opacity(100%);
        }
    }
}


.win-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.win-main-container::-webkit-scrollbar {
    display: none;
}


.win-congrats-text {
    color: #D6D2CF;
    font-size: 20px;
    font-weight: 500;
}

.win-text-container {
    width: 50vw;
}

@media (min-width: 350px) {
    .win-text-container {
        width: 200px;
    }
}


.emblem-win-btn {
    background: rgb(85,3,203);
    background: linear-gradient(125deg, #3023AE 0%,  #C86DD7 100%);
    width: 314px;
    height: 60px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 0px;
    position: absolute;
    bottom: 5vh;
    text-decoration: none;

}

@media (max-width: 320px) {
    .emblem-win-btn {
        width: 90vw;
    } 
}


.ship-for-animation {
    position: absolute;
    height: 38vh;
    animation: ship-entry-x 3s infinite, ship-entry-rotation 3s infinite;
    
}

.ship-for-animation::-webkit-scrollbar {
    display: none;
}


.div-for-animation {
    position: relative;
    z-index: 1;
    top: 50vh;
    left: -40vw;
    animation: ship-entry-y 3s infinite, ship-entry-opacity 3s infinite;
}

.div-for-animation::-webkit-scrollbar {
    display: none;
}

@keyframes ship-entry-y {
    0% {
        top: 50vh;
        transform: scale(1);
    }

    100% {
        top: 30vh;
        transform: scale(0.15);
    }
}

@keyframes ship-entry-x {
    0% {
        left: -90vw;
    }

    100% {
        left: 430vw;
    }
}

@keyframes ship-entry-rotation {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(10deg);}
    100% {transform: rotate(-120deg);}
}


@keyframes ship-entry-opacity {
    0% {z-index: 1;}
    60% {z-index: 1;}
    100% {z-index: -888;}
}





@media (min-width: 1000px) {
    .img-space {
                
        height: 100vh;
        width: 100vw;
        filter: opacity(60%);
        -webkit-filter: opacity(60%);
    }


    .ship-for-animation {
        position: absolute;
        height: 38vh;
        animation: ship-entry-x 4s infinite, ship-entry-rotation 4s infinite;   
    }
    
    
    .div-for-animation {
        position: relative;
        z-index: 1;
        top: 50vh;
        left: -40vw;
        animation: ship-entry-y 4s infinite, ship-entry-opacity 4s infinite;
    }


    @keyframes ship-entry-y {
        0% {
            top: 50vh;
            transform: scale(1.5);
        }
    
        100% {
            top: 30vh;
            transform: scale(0.15);
        }
    }
    
    @keyframes ship-entry-x {
        0% {
            left: -90vw;
        }
    
        100% {
            left: 350vw;
        }
    }
}





@media (min-width: 550px) {
    .img-space {
        height: 100vh;
        width: 100vw;
    }
}




@media (max-height: 812px)  {
    .emblem-win-btn {
        background: rgb(85,3,203);
        background: linear-gradient(125deg, #3023AE 0%,  #C86DD7 100%);
        width: 314px;
        height: 60px;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        letter-spacing: 0.3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 0px;
        position: relative;
        top: 32vh;
        text-decoration: none;
    
    }
}



