.speed-button-btn {
    width: 60px;
    height: 60px;
    background: #656675;
    border-radius: 15px;
    border: 0px;
    transition: 0.8s;
    margin: 0px 10px 20vh 10px;
    animation: speed-btn 0.8s forwards;
}


.speed-button-btn:active{
    outline: rgba(164, 167, 175, 0.158) solid 26px;
    outline-offset: -30px;
    border-radius: 15px;
    transition: 0.2s;
}

.speed-button-wrong-btn {
    width: 60px;
    height: 60px;
    background: #1D1E26;
    border-radius: 15px;
    border: 0px;
    transition: 0.8s;
    margin: 0px 10px 20vh 10px
}

.speed-button-wrong-btn:active{
    outline: rgba(164, 167, 175, 0.158) solid 26px;
    outline-offset: -30px;
    border-radius: 15px;
    transition: 0.2s;
}