:root {
    --background-height: 87vh;
    --total-height: 100%;
}



.planet-Chromion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 36vh;
    left: 70vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Chromion img {
    height: 7vh;
    animation: chromion-create 1.5s;
    transition: 1s;
}

.planet-Chromion img:hover {
    height: 10vh;
    transition: 0.8s;
}

.planet-Chromion p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -1.6vh;
}

.light-Chromion {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 90%;
    z-index: 8;
}

@keyframes chromion-create {
    0% {height: 0vh;}
    40% {height: 0vh;}
    70% {height: 8vh;}
    100% {height: 7vh;}
}




.planet-Glassmorph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 42vh;
    left: 79vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Glassmorph img {
    height: 11vh;
    animation: glassmorph-create 2.5s;
    transition: 1s;
}

.planet-Glassmorph img:hover {
    height: 13vh;
    transition: 0.4s;
}

.planet-Glassmorph p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -0.8vh;
}

.light-Glassmorph {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 60%;
    mix-blend-mode: overlay;
    z-index: 8;
}

@keyframes glassmorph-create {
    0% {height: 0vh;}
    40% {height: 0vh;}
    70% {height: 12vh;}
    100% {height: 11vh;}
}




.planet-Lavadelic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 17vh;
    left: 40.5vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Lavadelic img {
    height: 14vh;
    animation: lavadelic-create 2s;
    transition: 1s;
    z-index: 10;
}

.planet-Lavadelic img:hover {
    height: 17vh;
    transition: 0.6s;
}

.planet-Lavadelic p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 1.4vh;
}

.light-Lavadelic {
    position: absolute;
    filter: blur(40px);
    opacity: 80%;
    mix-blend-mode: overlay;
    z-index: 0;
}

@keyframes lavadelic-create {
    0% {height: 0vh;}
    30% {height: 16vh;}
    80% {height: 14vh;}
}




.planet-Purlix {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 51.5vh;
    left: 70vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Purlix img {
    height: 7vh;
    animation: purlix-create 2s;
    transition: 1s;
}

.planet-Purlix img:hover {
    height: 10vh;
    transition: 0.8s;
}

.planet-Purlix p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -0.3vh;
}

.light-Purlix {
    position: absolute;
    filter: blur(30px);
    mix-blend-mode: screen;
    opacity: 70%;
    z-index: 8;
}

@keyframes purlix-create {
    0% {height: 0vh;}
    40% {height: 0vh;}
    70% {height: 8vh;}
    100% {height: 7vh;}
}




.planet-Tropilum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 66.5vh;
    left: 85vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Tropilum img {
    height: 7vh;
    animation: tropilum-create 1.8s;
    transition: 1s;
}

.planet-Tropilum img:hover {
    height: 10vh;
    transition: 0.8s;
}

.planet-Tropilum p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -1.6vh;
}

.light-Tropilum {
    position: absolute;
    filter: blur(30px);
    mix-blend-mode: screen;
    opacity: 70%;
    z-index: 8;
}

@keyframes tropilum-create {
    0% {height: 0vh;}
    40% {height: 0vh;}
    65% {height: 8vh;}
    100% {height: 7vh;}
}




.planet-Candylux {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 56vh;
    left: 15vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Candylux img {
    height: 5.5vh;
    animation: candylux-create 3s;
    transition: 0.8s;
}

.planet-Candylux img:hover {
    height: 7vh;
    transition: 0.4s;
}

.planet-Candylux p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -2.3vh;
}

.light-Candylux {
    position: absolute;
    filter: blur(30px);
    mix-blend-mode: screen;
    opacity: 70%;
    z-index: 8;
}

@keyframes candylux-create {
    0% {height: 0vh;}
    10% {height: 0vh;}
    40% {height: 6.5vh;}
    100% {height: 5.5vh;}
}




.planet-Helanor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 51vh;
    left: 122.5vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Helanor img {
    height: 7vh;
    animation: helanor-create 2s;
    transition: 1s;
}

.planet-Helanor img:hover {
    height: 10vh;
    transition: 0.8s;
}

.planet-Helanor p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -1.1vh;
}

.light-Helanor {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: hard-light;
    opacity: 100%;
    z-index: 8;
}

@keyframes helanor-create {
    0% {height: 0vh;}
    40% {height: 0vh;}
    60% {height: 8vh;}
    100% {height: 7vh;}
}




.planet-K-78 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 11.5vh;
    left: 108.5vh;
    z-index: 10;
    cursor: pointer;
}

.planet-K-78 img {
    height: 5vh;
    animation: k-78-create 2.5s;
    transition: 1s;
}

.planet-K-78 img:hover {
    height: 7vh;
    transition: 0.5s;
}

.planet-K-78 p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 0.3vh;
}

.light-K-78 {
    position: absolute;
    filter: blur(0px);
    mix-blend-mode: normal;
    opacity: 100%;
    z-index: 8;
}

@keyframes k-78-create {
    0% {height: 0vh;}
    60% {height: 0vh;}
    80% {height: 6vh;}
    100% {height: 5vh;}
}




.planet-Lulab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 17vh;
    left: 87.5vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Lulab img {
    height: 6vh;
    transform: rotate(-12deg);
    animation: lulab-create 2s;
    transition: 1s;
}

.planet-Lulab img:hover {
    height: 8vh;
    transition: 0.4s;
}

.planet-Lulab p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 5.4vh;
}

.light-Lulab {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: overlay;
    opacity: 70%;
    z-index: 8;
}

@keyframes lulab-create {
    0% {height: 0vh;}
    50% {height: 0vh;}
    70% {height: 7vh;}
    100% {height: 6vh;}
}




.planet-Earth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 33vh;
    left: 22vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Earth img {
    height: 7vh;
    animation: earth-create 2s;
    transition: 1s;
}

.planet-Earth img:hover {
    height: 9vh;
    transition: 0.4s;
}

.planet-Earth p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 0.3vh;
}

.light-Earth {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 90%;
    z-index: 8;
    box-shadow: aqua 0px 0px 20px 1px;
}

@keyframes earth-create {
    0% {height: 0vh;}
    40% {height: 8vh;}
    100% {height: 7vh;}
}




.planet-Crystalir {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 43vh;
    left: 6vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Crystalir img {
    height: 9vh;
    animation: crystalir-create 1s ;
    transition: 1s;
}

.planet-Crystalir img:hover {
    height: 11vh;
    transition: 0.6s;
}

.planet-Crystalir p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -1.05vh;
}

.light-Crystalir {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 60%;
    z-index: 8;
}

@keyframes crystalir-create {
    0% {height: 0vh;}
    40% {height: 11vh;}
    100% {height: 9vh;}
}




.planet-Herlix {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 67vh;
    left: 56vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Herlix img {
    height: 5vh;
    animation: herlix-create 2s;
    transition: 1s;
}

.planet-Herlix img:hover {
    height: 7vh;
    transition: 0.4s;
}

.planet-Herlix p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -1vh;
}

.light-Herlix {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 60%;
    z-index: 8;
}

@keyframes herlix-create {
    0% {height: 0vh;}
    40% {height: 6vh;}
    100% {height: 5vh;}
}




.planet-Oark {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25vh;
    left: 115vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Oark img {
    height: 6vh;
    animation: oark-create 3s;
    transition: 1s;
}

.planet-Oark img:hover {
    height: 8vh;
    transition: 0.6s;
}

.planet-Oark p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 0.6vh;
}

.light-Oark {
    position: absolute;
    filter: blur(30px);
    mix-blend-mode: overlay;
    opacity: 100%;
    z-index: 8;
    box-shadow: white 0px 0px 30px 0px;
}

@keyframes oark-create {
    0% {height: 0vh;}
    40% {height: 0vh;}
    70% {height: 7vh;}
    100% {height: 6vh;}
}





.planet-Dragidion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 62.5vh;
    left: 160vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Dragidion img {
    height: 6vh;
    animation: dragidion-create 3.5s;
    transition: 1s;
}

.planet-Dragidion img:hover {
    height: 8vh;
    transition: 0.5s;
}

.planet-Dragidion p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -2.6vh;
}

.light-Dragidion {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: hard-light;
    opacity: 100%;
    z-index: 8;
}

@keyframes dragidion-create {
    0% {height: 0vh;}
    10% {height: 0vh;}
    40% {height: 7vh;}
    100% {height: 6vh;}
}





.planet-Xilofer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 32vh;
    left: 144vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Xilofer img {
    height: 8vh;
    animation: xilofer-create 1.5s;
    transition: 1s;
}

.planet-Xilofer img:hover {
    height: 10vh;
    transition: 0.8s;
}

.planet-Xilofer p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: -0.3vh;
}

.light-Xilofer {
    position: absolute;
    filter: blur(50px);
    mix-blend-mode: hard-light;
    opacity: 100%;
    z-index: 8;
}

@keyframes xilofer-create {
    0% {height: 0vh;}
    40% {height: 9vh;}
    100% {height: 8vh;}
}




.planet-Vaxor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40vh;
    left: 152.5vh;
    z-index: 10;
    cursor: pointer;
}

.planet-Vaxor img {
    height: 6.5vh;
    animation: vaxor-create 2s;
    transition: 1s;
}

.planet-Vaxor img:hover {
    height: 8vh;
    transition: 0.4s;
}

.planet-Vaxor p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 0vh;
}

.light-Vaxor {
    position: absolute;
    filter: blur(30px);
    mix-blend-mode: overlay;
    opacity: 60%;
    z-index: 8;
}

@keyframes vaxor-create {
    0% {height: 0vh;}
    20% {height: 0vh;}
    50% {height: 7.5vh;}
    100% {height: 6.5vh;}
}




.planet-K-67 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 11vh;
    left: 63vh;
    z-index: 10;
    cursor: pointer;
}

.planet-K-67 img {
    height: 6vh;
    animation: k-67 40s infinite linear, k-67-create 2.5s;
    transition: 1s;
}

.planet-K-67 img:hover {
    height: 8vh;
    transition: 0.4s;
}

.planet-K-67 p {
    color: #9B9B9B;
    font-weight: 100;
    font-size:1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 0.65vh;
    position: relative;
    left: 0.6vh;
}

.light-K-67 {
    position: absolute;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 60%;
    z-index: 8;
}

@keyframes k-67 {
    from {transform: rotate(0deg);}
    to {transform: rotate(3600deg);}
}

@keyframes k-67-create {
    0% {height: 0vh;}
    40% {height: 7vh;}
    100% {height: 6vh;}
}









.scrollable-div {
    width: 100%;
    height: 100%;
    overflow-x: scroll; 
    overflow-y: hidden;
    height: 87vh;
    position: relative;

}




.light {
    position: relative;
    top: -65px;
    filter: blur(40px);
    mix-blend-mode: screen;
    opacity: 80%;
}


.no-scroll {
    overflow: hidden;
    
}


.planet-container {
    display: flex;
    position: relative;
    bottom: 300px;
    height: 0px;
}


.ui {
    height: 100%;
    width: fit-content;
    padding: 0%;
}

.dots-bg {
    background-image:url('https://res.cloudinary.com/dwxuz6cft/image/upload/v1639225008/splays_app/background_images/dots_grid_planet_map_pattern_Mesa_de_trabajo_1_hfedcb.png') ;
    background-size: contain;
    background-repeat: repeat-x;
    height: var(--background-height);
    width:100%;
    position: relative;
    top: -2100px;
    z-index: 0;
    opacity: 0.2;
    mix-blend-mode: hard-light;
    
}




.map-background {
    height: 100%;
    position: absolute;
    z-index: -9999;
}

@media (max-height: 500px) {
    .map-background {
        width: 100vw;
        height: fit-content;
    }
}




@media (min-width: 1000px) {
    .planet-Chromion {
        left: 68.5vh;
    }



    .planet-Purlix {
        left: 68.5vh;
    }



    .planet-Glassmorph {
        left: 77.5vh;
    }



    .planet-Tropilum {
        top: 65vh;
        left: 83.5vh;
    }



    .planet-Candylux {
        top: 55vh;
    }


    .planet-Helanor {
        left: 120vh;
        top: 50.5vh ;
    }


    .planet-K-78 {
        left: 106.5vh;
        top: 11vh;
    }



    .planet-Lulab {
        left: 86vh;
        top: 18vh;
    }



    .planet-Earth {
        top: 32vh;
        left: 21vh;
    }



    .planet-Crystalir {
        left: 5vh;
        top: 42vh;
    }


    .planet-Herlix {
        top: 66vh;
        left: 55.5vh;
    }


    .planet-Oark {
        top: 25.5vh;
        left: 113vh;
    }



    .planet-Dragidion {
        left: 157vh;
        top: 61.5vh;
    }



    .planet-Xilofer {
        left: 141vh;
        top: 31.5vh;
    }



    .planet-Vaxor {
        left: 149.5vh;
    }



    .planet-K-67 {
        left: 62vh;
        top: 10.5vh;
    }
}


#constelation-01 {
    fill: none;
    stroke: #1d1e26;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.5vh;
    position: absolute;
    height: 41vh;
    left: 51vh;
    top: 12.5vh;
    stroke-dasharray: 230vh;
    stroke-dashoffset: 0vh;
    animation: constelation-01 3s infinite;
}

@keyframes constelation-01 {
    0% {stroke-dashoffset: 230vh;}
    35% {stroke-dashoffset: 0vh;}
    50% {stroke-dashoffset: 0vh;}
    100% {stroke-dashoffset: -230vh;}
}


#constelation-02 {
    fill: none;
    stroke: #1d1e26;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3vh;
    position: absolute;
    width: 23vh;
    left: 6vh;
    top: 12vh;
    stroke-dasharray: 230vh;
    stroke-dashoffset: 0vh;
    animation: constelation-02 3s infinite;
}

@keyframes constelation-02 {
    0% {stroke-dashoffset: 230vh;}
    35% {stroke-dashoffset: 0vh;}
    50% {stroke-dashoffset: 0vh;}
    100% {stroke-dashoffset: -230vh;}
}


#constelation-03 {
    fill: none;
    stroke: #1d1e26;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3vh;
    position: absolute;
    height: 22vh;
    left: 103vh;
    top: 42.5vh;
}

#main-line-constelation-03 {
    stroke-dasharray: 150vh;
    stroke-dashoffset: 0vh;
    animation: main-line-constelation-03 3s infinite ;
}

@keyframes main-line-constelation-03 {
    0% {stroke-dashoffset: 150vh;}
    25% {stroke-dashoffset: 0vh;}
    60% {stroke-dashoffset: 0vh;}
    80% {stroke-dashoffset: -150vh;}
    100% {stroke-dashoffset: -150vh;}
}

#secondary-line-constelation-03 {
    stroke-dasharray: 160vh;
    stroke-dashoffset: 0vh;
    animation: secondary-line-constelation-03 3s infinite ;
}

@keyframes secondary-line-constelation-03 {
    0% {stroke-dashoffset: 160vh;}
    15% {stroke-dashoffset: 160vh;}
    45% {stroke-dashoffset: 0vh;}
    70% {stroke-dashoffset: 0vh;}
    100% {stroke-dashoffset: -160vh;}
}


.charlyesunpesado {
    background-color: turquoise;
}



@keyframes on-scroll-animation {
    0% {transform: scale(1)}
    40% {transform: scale(1.2)}
    100% {transform: scale(1)}
}