.planet-Chromion img {
    height: 62px;
}


.planet-Glassmorph img {
    height: 62px;
}


.planet-Lavadelic img {
    height: 62px;
}


.planet-Purlix img {
    height: 62px;
}


.planet-Tropilum img {
    height: 62px;
}


.planet-Candylux img {
    height: 62px;
}


.planet-Helanor img {
    height: 62px;
}


.planet-K-78 img {
    height: 62px;
}


.planet-Lulab img {
    height: 62px;
}


.planet-Earth img {
    height: 62px;
}


.planet-Crystalir img {
    height: 62px;
}


