.landing-background {
    background-image: url("https://res.cloudinary.com/dwxuz6cft/image/upload/v1638996465/splays_app/background_images/splays_landing_background_gerpho.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.landing-login-btn {
    background: rgb(85,3,203);
    background: linear-gradient(45deg, rgba(85,3,203,1) 0%, rgba(78,6,229,1) 50%, rgba(14,210,211,1) 94%);
    width: 11em;
    height: 60px;
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 0px;
    box-shadow: 0px 0px 37px 0px rgba( 72, 10, 254, 0.6 );
    cursor: pointer;
}

.landing-login-btn p {
    font-weight: 500;
    font-size: 0.85em;
    margin-bottom: 4px;
}

.landing-login-btn:active {
    background: linear-gradient(45deg, rgb(65, 0, 156) 0%, rgb(50, 3, 151) 50%, rrgb(8, 133, 133)94%); 
}


.landing-logo-container {
    height: 80vh;
}


.landing-underbtn {
    color: #9013FE;
    font-size: 1em;
    margin-top: 1.8em;
    cursor: pointer;
}

.landing-underbtn-span {
    color: #ACAAAD;
    cursor: pointer;
}


.scroll-down-icon {
    width: 2.5em;
    position: relative;
    /* margin-top: 1.8em; */
    animation: scroll-down-icon 0.8s infinite alternate;
    z-index: 900;
}


@keyframes scroll-down-icon {
    0% {
        opacity: 10%;
        bottom: 1vh;
    }
    100% {
        opacity: 60%;
        bottom: 0vh;
    }
}




@media (min-width: 700px) {
    .landing-background {
        background-image: url("https://res.cloudinary.com/dwxuz6cft/image/upload/v1638996923/splays_app/background_images/splays_landing_background_wide_u3xsxj.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 60%;
        background-position-x: 50%;
        width: 100vw;
        height: 100vh;
        background-color: #030303;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body::-webkit-scrollbar {
    display: none;
}