.asteroids-btn {
    width: 60px;
    height: 60px;
    background: rgb(15, 15, 15);
    border-radius: 50%;
    border: 5px solid #52535e;
    margin-bottom: 60vh;
    /* box-shadow: rgba(54, 0, 247, 0.521) 0px 0px 60px 0px; */
    transition: 0.8s;
    margin-right: 20px
}

.asteroids-btn:active{
    background:#52535e;
    transition: 0.2s;
}