.planet-details-main-container {
    height: 650px;
    height: 80vh;
    width: 100vw;
    background: rgba( 34, 36, 48, 0.3 );
    backdrop-filter: blur( 35px );
    -webkit-backdrop-filter: blur( 35px );
    border-radius: 50px 50px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0px;
    position: fixed;
    animation: planet-details-in 0.7s;
    z-index: 1000;
    
}


@keyframes planet-details-in {
    from {bottom: -88vh;}
    to {bottom: 0px;}
}

.planet-details-animate-out {
    animation: planet-details-out 0.7s;
}

@keyframes planet-details-out {
    from {bottom: 0vh;}
    to {bottom: -88vh;}
}


.planet-details-img {
    height: 68.5vh;
    position: relative;
    bottom: -29.5vh;
    z-index: 1000;
}

.planet-details-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.planet-details-description {
    color: #ACAAAD;
    font-size: 17px;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    z-index: 1000;
}


.planet-description-container {
    width: 90vw;
}

@media (min-width: 600px) {
    .planet-description-container {
        width: 60vw;
    }
}


.planet-details-title {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 60px;
    z-index: 1000;
}


.planet-details-close-bar {
    height: 3px;
    width: 64px;
    border-radius: 30px;
    background-color: rgba(163, 169, 194, 0.89);
    margin-bottom: 50px;
    mix-blend-mode: overlay;
    filter: opacity(0.1);
    z-index: 1000;
    cursor: pointer;
    transition: 0.4s;
}


.planet-details-elm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: -450px; */
    top: 100px;
    z-index: 10;
}


.planet-detail-go-planet-btn {
    z-index: 1010;
    position: absolute;
    bottom: 30px;
    padding: 15px 0px;
    width: 345px;
    background: rgba( 29, 30, 38, 0.1 );
    backdrop-filter: blur( 35px );
    -webkit-backdrop-filter: blur( 35px );
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.37) 0px 0px 37px 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    transition: 0.4s;
    
}

.planet-detail-go-planet-btn:hover {
    background: rgba(177, 179, 196, 0.3);
    transition: 0.2s;
}


@media (min-width: 1000px) {
    .planet-details-close-bar {
        height: 8px;
    }

    .planet-details-close-bar:hover {
        filter: opacity(0.7);
        transition: 0.2s;
    }


    .planet-description-container {
        width: 24vw;
    }


    .planet-details-img {
        height: 140vh;
        position: relative;
        top: 70vh;
        z-index: 1000;
    }

    .planet-details-elm-container {
        top: 2vh; 
        position: absolute;       
    }

}