.background-glass {
    background: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    animation: nav-background 0.7s, nav-blur 0.7s;
}

@keyframes nav-background {
    from {background: rgba(10, 10, 10, 0);}
    to {background: rgba(10, 10, 10, 0.8);}
}

@keyframes nav-blur {
    from {
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
    }
    to{
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
    }
}


.burger-menu-open-text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}


.burger-menu-open-logout {
    color: #C81D32;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}


.burger-menu-open-txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: nav-links 0.7s;
}

@keyframes nav-links {
    from {filter: opacity(0);}
    to {filter: opacity(100%);}
}


.burger-menu-main-elm-container {
    position: relative;
    top: 20%;
}


.close-nav-icon {
    height: 20px;
    margin-bottom: 30px;
    margin-left: 200px;
    cursor: pointer;
}


.close-nav-icon-container {
    display: flex;
    justify-content: center;
}


.nav-open-line {
    background-color: #3d414e;
    height: 1px;
    width: 11em;
    margin-top: 20px;
    margin-bottom: 20px;
}
