.landing-info-background {
    background-color: #030303;
    padding-top: 55px;
}


.landing-info-container {
    border-radius: 8px;
    width: 167px;
    height: 228px;
    background-color: #1D1E26;
    margin: 5px;
}


.landing-info-container-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.landing-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.landing-info-title {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 55px;
}


.landing-info-paragraph-container {
    width: 85vw;
}



.landing-info-paragraph {
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 300;
    line-height: 31px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}


.landing-info-image-01 {
    background-image: url("https://res.cloudinary.com/dwxuz6cft/image/upload/v1639566305/splays_app/landing_info/landing_info1_yf1zok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-info-image-02 {
    background-image: url("https://res.cloudinary.com/dwxuz6cft/image/upload/v1639566305/splays_app/landing_info/landing_info2_cupvcz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-info-image-03 {
    background-image: url("https://res.cloudinary.com/dwxuz6cft/image/upload/v1639566305/splays_app/landing_info/landing_info3_wkyoyw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-info-image-04 {
    background-image: url("https://res.cloudinary.com/dwxuz6cft/image/upload/v1639566305/splays_app/landing_info/landing_info4_d6xsbj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.landing-logo-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.landing-logo {
    /* position: absolute; */
    height: 25px;
    top: 30vh;
    margin-top: 20vh;
}




@media (min-width: 530px) and (max-width: 750px) {
    .landing-info-container-main-container {
        margin-left: 15%;
        width: 70%;
    }
}




@media (min-width: 750px) {
    .landing-info-paragraph-container {
        width: 50vw;
    }
}





@media (min-width: 1080px) {
    .landing-info-paragraph-container {
        width: 30vw;
    }

    .landing-info-container {
        margin: 5px 1vw;
    }
}